* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("hq.jpg") no-repeat;
    background-size: cover;
    font-family: 'century Gothic', sans-serif;
}
.box{
    width: 500px;
    background:rgba(255, 255, 255, 0.8) ;
    margin:0 auto;
    margin-top:4%;
    padding: 60px; /* el cuadro*/
    color: while;
    text-align: center;
    border-radius: 50px;
}
.box-img{
    border-radius: 50%;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin:30px 0 20px;
}
.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}
.box p{
    text-align: justify;
}