* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("hq.jpg") no-repeat;
    background-size: cover;
    font-family: 'century Gothic', sans-serif;
}
header{
    background-color: rgb(9, 9, 9) ;
    width: 100%;
    clear: both;
    content: '';
    display: table;
    height: 50px;
}
.menu{
    width: 900 px;
    margin: 0 ;
}

nav{
    float:right;
}
nav ul li{
    list-style: none;/*borrar viñetas*/
    margin-left: 75px;
    margin-right: 60px;
    padding: 12px 0;
    float: left;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}
.box{
    width: 500px;
    background:rgba(255, 255, 255, 0.8) ;
    margin:0 auto;
    margin-top:4%;
    padding: 60px; /* el cuadro*/
    color: while;
    text-align: center;
    border-radius: 50px;
}
.box-img{
    border-radius: 50%;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin:30px 0 20px;
}
.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}
.box p{
    text-align: justify;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(148, 41, 110);
}